* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    background: #ffffff;
}

.top-bar {
    width: 100%;
    height: 60px;
    background: #003875;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    position: relative;
    z-index: 2;
}

.flag {
    width: 45px;
    height: 28px;
    background: linear-gradient(to right, #002395 33%, #ffffff 33%, #fff 66%, #ED2939 66%);
    border-radius: 3px;
}

.btn-cadastro {
    background: #e62639;
    padding: 7px 18px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}


.background {
    width: 100%;
    height: calc(100vh - 60px);
    background: url("https://lh3.googleusercontent.com/gps-cs-s/AG0ilSxzX_oxHzU_jRPnKrrWjJm1dqa0FikzKirrc9d9pnqOCT9mxtB-fjqctieNlEXazCo378LT88__yuuEMzpJPQ_bOydTLeApJjTN6zTdQgYZh4oHFsZcSTgUwe97RTtwndBjzjZG=s680-w680-h510-rw") center/cover no-repeat;
    position: absolute;
    top: 60px;
    left: 0;
}


.login-box {
    width: 330px;
    background: #003875;
    padding: 25px;
    border-radius: 25px;
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
}

.login-box label {
    display: block;
    text-align: left;
    margin-top: 15px;
    font-size: 16px;
}

.login-box input {
    width: 100%;
    height: 28px;
    margin-top: 5px;
    padding-left: 5px;
    border: none;
    border-radius: 5px;
}


.btn-enviar {
    margin-top: 20px;
    padding: 8px 25px;
    background: #e62639;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}